.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 7rem;

}
.container .wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 136rem;
}
.container .wrapper .title{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 136rem;
}

.wrapper .title h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
}

.container .wrapper .title .btn-pag{
  position: relative;
}
.container .wrapper .title .btn-pag .btn-prev,
.container .wrapper .title .btn-pag .btn-next {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  color: #fff;
  font-size: 1.8rem;
  background: var(--btn-search);
  border-radius: 50%;
}
.container .wrapper .title .btn-pag .btn-prev {
  right: 2rem;
}
.container .wrapper .title .btn-pag .btn-next {
  right: -1.5rem;
}

.wrapper .wrapper-cards {
  width: 100%;
  margin-top: 5rem;
}
.wrapper  .wrapper-cards .list-cards {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.wrapper  .list-cards .card {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  width: 25rem;
  height: 27.1rem;
  background: #FBFDFF;
  border-radius: 0.2rem;
}
.list-cards .card .header-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
}
.list-cards .card .header-card .title-pokemon{
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3rem;
}
.list-cards .card .header-card .cod{
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.list-cards .card .img-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-cards .card .img-card img {
  width: 12.4rem;
  height: 12.2rem;
}

.list-cards .card .attibute-pokemon{
  padding: 1.6rem;
}
.list-cards .card .attibute-pokemon .height,
.list-cards .card .attibute-pokemon .weight{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 0.5rem;
}
