<div class="container">
  <div class="wrapper">
    <div class="title">
      <h1>Pokedéx</h1>
      <div class="btn-pag">
        <button class="btn-prev"><</button>
        <button class="btn-next">></button>
      </div>
    </div>
    <div class="wrapper-cards">
      <ul class="list-cards">
        <li class="card" *ngFor="let value of lista">
          <div class="header-card">
            <span class="title-pokemon">{{value.name}}</span>
            <span class="cod">#{{value.cod}}</span>
          </div>
          <div class="img-card">
            <img src={{value.src}} alt={{value.name}}>
          </div>
          <div class="attibute-pokemon">
            <div class="height">
              Altura <span>{{value.heightPoke}}cm</span>
            </div>
            <div class="weight">
              Peso <span>{{value.weightPoke}}kg</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
