<div class="header">
  <div class="container">
    <div class="wrapper-title">
      <div class="logo">
        <img src="../../../../assets/img-header/logo-app.svg" alt="Logo Inicie">
      </div>
      <div class="title">
        <h1>Explore o mundo<br>dos <span>Pokémons</span></h1>
      </div>
      <div class="input-search">
        <h3>Descubra todas as espécies de Pokémons</h3>
          <form >
            <input type="text" (keyup)="keyupInput($event)">
            <button type="button" (click)="searchPokemon()">Buscar</button>
          </form>
      </div>
    </div>
    <div class="img-pokemon">
      <img src="../../../../assets/img-header/img-header.svg" alt="Imagens de Pokemons">
    </div>
  </div>
</div>

