@import './config-scss/variables.scss';
@import './config-scss/reset.scss';

html{
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
  color: var(--primary-text-color);
  background: #F8F8F8;
}
button {
  cursor: pointer;
}
